<div class="card">
  <div class="card-content">
    <%= form_with(scope: :phone_number, url: phone_number_create_path ) do |form| %>
      <div class="field" data-controller="number">
        <span class="mobile-image"><%= image_tag('mobile-icon') %></span>
        <p class="mobile-text" data-number-target="mobile">Your mobile number</p>
        <%= telephone_field('phone_number', 'phone_number', required: true, maxlength: 15, pattern: "^(\\+44.|44.|0)7[0-9]{3} [0-9]{6}$", data: { action: "focus->number#toggleInteracting blur->number#toggleInteracting keyup->number#shapeNumber keydown->number#validEntry" })%>
      <p class="mobile-invalid-text hide" data-number-target="errorMsg"><span class="mobile-invalid-text-img">
        <%= image_tag('red-cross') %>
        </span> Please enter a valid UK mobile number.</p>
        <span class="ok-img" data-number-target="okImg"><%= image_tag('green-checkmark') %></span>
        <div class="courier-info">
          <span class="info-icon-container">
            <%= image_tag('icon-info', class: 'info-icon') %>
            <span class="courier-info-text">Your courier will text you on the day with a delivery time slot. This is optional.</span>
          </span>
        </div>
        <div class="actions">
        <%= form.submit 'SUBMIT PHONE NUMBER', class: 'submit-button' %>
      </div>
    <% end %>
    </div>
  </div>
</div>